/*header*/

/* Обычный */

@font-face {
    font-family: Mulish;
    src: url('/css/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('/css/fonts/Ubuntu/Ubuntu-Regular.ttf');
}


body {
    font-family: 'Ubuntu';
}

.navbar-default {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
}

.navbar-nav {
    margin-left: 90px;
}

.navbar {
    border: none;
}

h1 {
    font-family: 'Ubuntu';
}

.buttonCenter {
    margin-bottom: 10px;
}

.cont_tags a {
    background-color: #f5f5f5;
    border-radius: 2px;
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 5px;
}

.glyphicon-tag::before {
    content: "\e041";
}

.cont_tags .glyphicon {
    margin-right: 2px;
    color: #847146;
}

.block-puzzles {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
}

.gr4 {
    background-color: #ffe8dd;
}


.gr5 {
    background-color: #fbf1ff;
}

.answer {
    display: none;
}

.btn_otv {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    min-width: 50px;
    text-align: center;
    text-decoration: none;
    /* display: table; */
    cursor: pointer;
    font-size: 12px;
    line-height: 6px;
    padding: 2px 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 230ms ease-in 0s;
    transition: all 230ms ease-in 0s;
    color: #000;
    background-color: #f5f6f8;
    padding: 10px 13px;
    margin: 20px auto;
    font-weight: 700;
    white-space: nowrap;
}

.block-puzzles h4 {
    padding: 10px 0;
}